{% extends "admin/layout.njk" %}

{% block head %}

    <title>Admin - Editar Receita</title>
    <link rel="stylesheet" href="/admin/edit.css">
    <link rel="stylesheet" href="/admin/fields.css">

{% endblock %} 

{% block content %}

    <form class="delBtn-box" action="/admin/recipes?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{recipe.id}}>
        <div><button class="adminBtn delBtn" type="submit">Deletar</button></div>
    </form>

    <form class="create-content" action="/admin/recipes?_method=PUT" method="post">
        <section class="header-box">
            <h3>Editando receita</h3>
            <div>
                <input type="hidden" name="id" value={{recipe.id}}>
                <button class="adminBtn" type="submit">Salvar Receita</button>
            </div>
        </section>

        <section class="form-box">
            {% include 'admin/fields.njk'%}
        </section>
    </form>

<script src="/admin/fields.js"></script>

{% endblock %} 