
<div class="input-box"> {# TITLE #}
    <div class="input-title">Titulo da Receita</div>
    <input type="text" name="title" value="{{recipe.title}}">
</div>
<div class="input-box"> {# AUTHOR #}
    <div class="input-title">Autor da receita</div>
    <input type="text" name="author" value="{{recipe.author}}">
</div>
<div class="input-box"> {# IMG #}
    <div class="input-title">Imagem da receita</div>
    <input type="url" name="image" value="{{recipe.image}}">
</div>
<div class="input-box"> {# INGREDIENTS #}
    <div class="input-title">Ingredientes</div>
    <div id="ingredients">
        {% if recipe %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{ingredient}}">
                    <span class="closeBtn"><i class="fas fa-times"></i></span>
                </div>
            {% endfor %}
        {% else %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="">
                <span class="closeBtn"><i class="fas fa-times"></i></span>
            </div>
        {% endif %}
    </div>
    <button id="addIngredient" type="button">Adicionar novo ingrediente</button>
</div>

<div class="input-box"> {# PREPARATION #}
    <div class="input-title">Modo de preparo</div>
    <div id="preparations">
        {% if recipe %}
            {% for prep in recipe.preparation %}
                <div class="preparation">
                    <input type="text" name="preparation[]" value="{{prep}}">
                    <span class="closeBtn"><i class="fas fa-times"></i></span>
                </div>
            {% endfor %}
        {% else %}
            <div class="preparation">
                <input type="text" name="preparation[]">
                <span class="closeBtn"><i class="fas fa-times"></i></span>
            </div>
        {% endif %}
    </div>
    <button id="addPreparation" type="button">Adicionar novo passo</button>
</div>
<div class="input-box"> {# EXTRA INFO #}
    <div class="input-title">Informações adicionais</div>
    <textarea name="information" value="{{recipe.information}}" cols="30" rows="10">{{recipe.information}}</textarea>
</div>