@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

/********** MAIN BANNER ***********/

.banner{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding: 6%;
    background: #FBDFDB;
    border-radius: 30px;
}

.banner-text{
    display: block;
    margin: 80px 30px;
    text-align: left;
}

.banner-text h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 5px;
}

.banner-text p{
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}

.banner-img{
    margin:auto;
    position: absolute;
    right: 7%;
    top: 24%;
}

/********* Mais Acessadas *********/

.mais-acessadas-titulo{
    font-size: 24px;
    font-weight: 700;
    margin: 70px 0 25px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 15px;
    margin: 0 0 50px;
}

.card-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.card h4{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.card-autor{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 15px;
    cursor: pointer;
}

